:root{
    --text-color-white: #fff;
    --text-color-black: #000;
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 14px;
    --font-size-desktop: 16px;
    --font-size-ipad: 1rem;
    --font-size-phone: 1rem;
    --btn-padding: 16px 32px;
    --btn-width: 220px;
    --btn-border-radius: 20px;
    --transition: ease 1.2s;
    --chinese-bg-color: #141412;
    --cetacean-blue-bg-color: #0F0D35;
    --ripo-mango-bg-color: #FDC128;
    --xanadu-bg-color: #728A7C;
    --deep-pink-bg-color: #F52D3A;
    --charleston-green-bg-color: #252A36;
    --coral-reef-bg-color: #F37F64;
    --jungle-green-bg-color: #05564B;
    --tulip-bg-color: #FF8787;
    --Languid-bg-color: #D0D1E1;
    --BRIGHT-GREY-bg-color: #EBECEF;
    --diamond-bg-color: #B7E3FF;
    --SAPPHIRE-bg-color: #0856CF;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    width: 100%;
    font-size: var(--font-size-desktop);
    padding: 0 20px;
    background-color:var(--BRIGHT-GREY-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

main{

    width: 400px;
    max-width: 400px;
    min-width: 320px;
    height: 420px;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--SAPPHIRE-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.topsection{
    width: 100%;
}

.heading{
    text-align: center;
    font-size: var(--font-size-ipad);
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color-white);
}
span{
    color: var(--coral-reef-bg-color);
}
.output-wrapper{
    width: 100%;
    margin-top: 40px;
}
p{
    width: 100%;
    text-align: center;
    font-size: var(--font-size-phone);
    color: var(--text-color-white);
    margin-bottom: 12px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#city{
    width: 90%;
    height: 50px;
    font-size: var(--font-size-phone);
    text-align: center;
    margin: 0 auto;
    border-radius: var(--border-radius);
    color: var(--text-color-black);
    background-color: var(--diamond-bg-color);
    cursor: pointer;

}
#city::placeholder{
    color: var(--text-color-black);
    opacity: 0.45;

}

.btn{
    width: 230px;
    padding: var(--btn-padding);
    color: var(--text-color-black);
    margin: 20px auto;
    border-radius: var(--btn-border-radius);
    background-color: var(--Languid-bg-color);
    transition: 1.2s ease-in-out;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.3;
}





/* @media screen and (max-width: 500px){


    main{
        width: 95%;
        margin: 28px auto;
        padding-top: 40px;
        background-color: honeydew;
    }
    
    .heading{
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: capitalize;
        color: #000;
       
    }
} */